* {
	padding: 15px;
	text-align: center;
}

.navbar {
}

#timer-box {
	background-color: yellow;
}

.row {
	border: 1px black solid;
}

.radio-inline:hover {
	background-color: yellow;
	transition: background-color .5s;
	font-size: 20px;
	transition: font-size .5s;
}

#submit-button:hover {
	background-color: yellow;
	font-size: 20px;
}

.radio-inline:checked {
	background-color: pink;
	font-size: 20px;
}